	.customize {
	// border-bottom: solid 1px grey;
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: $whitesmoke;



.shirt-icon .container {
	text-align: center;
}

	#t-shirt {
	width: 300px;
	height: 250px;

	background-image: url("../../../img/t-shirt.png");
	background-position: center;
	background-size: cover;
	background-color: white;
	margin-bottom: 50px;
	display: inline-block;
	}


	#inner-img {
	background-image:url("../../../img/inner-img.png");
	background-size:cover;
	background-position: center;
	height: 100px; 
	width: 100px;
	display: inline-block;
	margin-top: 80px;
	}
}
