footer {
	background-color: $whitesmoke;
	padding-top: 3rem; 
	padding-bottom: 3rem;
	

	.col-4 {
	text-align: center !important;
	
	}

	img {
		width: 48px;;
		height: 48px;
		border-radius: 5px;
	}
}
