footer {
	margin: 20px auto;
	img {
		width: 48px;
		height: 48px;
	}

	.profilePic {
		width: 48px;
		height: 48px;
		background-image: url("../../../img/ProfilePicture.JPG");
		background-size: cover;
	}
}
