@import "base/colors";

.header {
	padding: 0;
	margin: auto;

	div.container-fluid {
		padding: 0;

		.header-img {
		height: 600px;
		width: 100%;
		background-image: url("../../../img/header-img.jpg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0;

			div.navigation {
				background-color: $greyTrans;
				width: 100%;
				// use grey3 with rgb to make transparent background
			}
		}
	}

}