
.fa.fa-shopping-cart {
    padding-right: 20px;
    color: #ccc;
}
.fa.fa-shopping-cart:hover  {
    color: $grey6;
}

button.btn:hover {
    background-color: $grey2;
}

div.navbar {
    background-color: $greyTrans;
}