// colors
$lighterGrey: #FAFBFF;
$lightGrey: #e9eaee;
$grey: #C8C9CC;

$lightBlue: #ADBEFF;
// $blue: #575F7F;
$blue: #282d48;

$green: #7bae9c;


// blues
$blue1: #142340;
$blue2: #172848;
$blue3: #28477F;
$blue4: #487FE5;
$blue5: #508EFF;

// greys
$grey1: #3E3F40;
$grey2: #7D7E7F;
$grey3: #C8C9CC;
$grey4: #E1E2E5;
$grey5: #FAFBFF;

//pallete
$EGGSHELL: #EAF0CE;
$SILVER: #C0C5C1;
$ROMAN-SILVER:#7D8491;
$PINEAPPLE: #574B60;
$ARSENIC: #3F334D;
$DARK-JUNGLE-GREEN: #1B2021;