// colors
$bright-red: #FE0908;
$dark-red: #CC232A;
$purple: #6D479B;
$violet: #AE459B;
$brown: #B1896A;
$green: #9BC24A;
$yellow: #FDF65E;
$dark-yellow: #FDE342;
$orange: #FADE6D;
$white: #FDFEFB;
$grey: #A7A4A2;